// Section Header Start 
.section-header {
    max-width: 584px;
    margin-inline: auto;
    margin-bottom: 50px;
    .subtitle {
        font-size: 15px;
        font-weight: 700;
        position: relative;
        z-index: 1;
        margin-bottom: 15px;
        &::before {
            position: absolute;
            content: '';
            left: -6px;
            top: 50%;
            transform: translateY(-52%);
            background-color: hsl(var(--base));
            height: 20px;
            width: 20px;
            border-radius: 10px;
            border-bottom-left-radius: 0px;
            z-index: -1;
        }
    }
    &__title {
        line-height: 1.2;
    }
}

.text-wrapper {
    padding: 50px 0;
    background-color: #0F142B;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    h2 {
        color: hsl(var(--base));
        animation: text-move-rtl 15000ms linear infinite;
        white-space: nowrap;
        font-size: 60px;
        text-transform: uppercase;
    }
    &.style-two {
        h2 {
            animation: text-move-ltr 15000ms linear infinite !important;
        }
    }
}

@keyframes text-move-rtl {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes text-move-ltr {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

// Generate Section Start 
.generate-shape {
    position: absolute;
    left: -50px;
    img {
        width: 105px;
        height: 105px;
    }
}
.generate-shape2 {
    position: absolute;
    top: 82px;
    right: 100px;
}
.generate-shape3 {
    position: absolute;
    bottom: 82px;
    right: 100px;
    img {
        width: 52px;
        height: 52px;
    }
}
.generate-wrapper {
    padding: 30px;
    border-radius: 10px;
    background-color: #212451;
}
.generate-thumb {
    width: 503px;
}
.generate-content {
    width: calc(100% - 503px);
    padding-left: 30px;
    .title {
        font-size: 24px;
    }
}

// About Section Start
.about-shape1 {
    position: absolute;
    left: 70px;
    top: 100px;
}
.about-shape2 {
    position: absolute;
    right: 70px;
    bottom: 150px;
}
.about-left {
    width: 692px;
    .about-thumb-left {
        width: 337px;
        height: 590px;
        padding-right: 15px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.thumb-wrapper {
    .about-thumb1 {
        margin-bottom: 15px;
        width: 335px;
        height: 430px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .about-thumb2 {
        width: 335px;
        height: 245px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.about-content {
    width: calc(100% - 692px);
    padding-left: 100px;
}
.about-listing {
    .title {
        max-width: 200px;
    }
}
.listing-item {
    &:not(:last-child) {
        margin-bottom: 50px;
    }
    .icon {
        width: 70px;
    }
    .content {
        width: calc(100% - 70px);
        padding-left: 25px;
        .title {
            margin-bottom: 20px;
        }
    }
}

// Feature Section Start
.feature-section {
    overflow: hidden;
}
.feature-shape1 {
    position: absolute;
    left: 80px;
    top: 225px;
}
.feature-shape2 {
    position: absolute;
    top: 70px;
    right: 40%;
    img {
        width: 52px;
        height: 52px;
    }
}
.feature-shape3 {
    position: absolute;
    top: 50%;
    right: -60px;
    img {
        width: 105px;
        height: 105px;
    }
}
.feature-item {
    padding: 45px 30px;
    border: 1px solid hsl(var(--border));
    border-radius: 10px;
    background-color: #212451;
    transition: all ease .3s;
    &:hover {
        transform: translateY(-10px);
        box-shadow: 0px 10px 15px 2px #212451;
    }
    &__icon {
        margin-bottom: 25px;
    }
    &__content {
        .title {
            font-size: 24px;
            margin-bottom: 20px;
        }
    }
}

// Create Section Start 
.create-section {
    background-color: #0F142B;
    overflow: hidden;
}
.create-shape {
    position: absolute;
    left: 0;
    bottom: 0px;

}
.create-content-wrapper {
    max-width: 534px;
    position: relative;
    z-index: 1;
    .subscribe-form {
        .plane-icon {
            right: 175px;
        }
        .cmn--btn {
            padding-inline: 23px;
        }
    }
}
.create-thumb-wrapper {
    margin: -7.5px;
    transform: rotate(-30deg);
    width: 725px;
    display: flex;
    flex-wrap: wrap;
   .thumb-1 {
    position: absolute;
    right: 100px;
    top: -80%;
    bottom: 0;
   }
   .thumb-2 {
    position: absolute;
    right: -260px;
    top: -40%;
  }
    .create-thumb {
        padding: 7.5px;
        width: calc(100% / 2);
        img {
            width: 345px;
        }
    }
}


// Multi Section Start 
.multi-shape1 {
    position: absolute;
    left: 100px;
    top: 100px;
}
.multi-shape2 {
    position: absolute;
    right: 100px;
}
.countdown-wrapper {
    width: 195px;
    .countdown-item {
        &:not(:last-child) {
            border-bottom: 1px solid hsl(var(--border));
            margin-bottom: 35px;
            padding-bottom: 25px;
        }
    }
}
.multi-thumb {
    max-width: 468px;
    border-radius: 10px;
    img {
        border-radius: 10px;
        width: 100%;
    }
}
.faq-area {
    max-width: 532px;
}
.faq-item {
    background-color: #353862;
    border-radius: 10px;
    // padding: 0px 30px;x
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    &__title {
        position: relative;
        cursor: pointer;
        padding: 20px 30px;
        .faq-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 30px;
            border: 2px solid hsl(var(--white));
            width: 20px;
            height: 20px;
            border-radius: 4px;
            transition: all ease .3s;
            &::before {
                position: absolute;
                content: '';
                left: 3px;
                top: 7px;
                width: 10px;
                height: 2px;
                background-color: hsl(var(--white));
                transition: all ease .3s;
            }
            &::after {
                position: absolute;
                content: '';
                left: 7px;
                top: 3px;
                width: 2px;
                height: 10px;
                background-color: hsl(var(--white));
                transition: all ease .3s;
            }
        }
    }
    &__content {
        border-top: 1px solid #5D6081;
        padding: 20px 0px 10px;
        margin-inline: 30px;
        display: none;
        // background-color: #353862;
    }
    &.active {
        .faq-item__content {
            display: block;
        }
    }
    &.open {
        .faq-icon {
            border-color: hsl(var(--base));
            &::after {
                opacity: 0;
                height: 0;
                background-color: hsl(var(--base));
            }
            &::before {
                background-color: hsl(var(--base));
            }
        }
    }
}


// Blog Section Start 
.blog-shape1 {
    position: absolute;
    left: 100px;
    top: 0;
}
.blog-shape2 {
    position: absolute;
    right: 337px;
    top: 120px;
}
.meta-wrapper {
    max-width: 230px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    a {
        font-weight: 500;
        img {
            padding-right: 2px;
        }
        &:hover {
            color: hsl(var(--body-color));
        }
    }
}
.blog-item {
    .date {
        width: 125px;
        height: 36px;
        background-color: hsl(var(--base));
        color: hsl(var(--white));
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        font-weight: 700;
        position: relative;
        margin-bottom: -18px;
        &::before {
            position: absolute;
            content: '';
            right: -17px;
            top: 0;
            width: 17px;
            height: 18px;
            background-color: #D806AA;
            clip-path: polygon(0 0, 0 100%, 100% 100%);
        }
    }
    &__thumb {
        img {
            width: 100%;
        }
    }
    &__content {
        padding: 30px;
        padding-right: 40px;
        background-color: hsl(var(--accent));
        position: relative;
        z-index: 2;
        margin-left: 30px;
        margin-top: -55px;

        .title {
            font-size: 24px;
            margin-bottom: 25px;
        }
    }
}
.readmore-btn {
    position: relative;
    padding-left: 30px;
    &:hover {
        &::before {
            background-color: hsl(var(--base));
            transform: translateX(5px);
        }
    }
    &::before {
        position: absolute;
        content: '';
        left: 0px;
        top: 50%;
        width: 20px;
        height: 2px;
        background-color: hsl(var(--body));
        transition: all ease .3s;
    }
}

// Sponsor Section Start
.sponsor-section {
    padding: 88px 0;
    background-color: #0F142B;
}
.sponsor-item {
    width: 170px;
    max-width: 100%;
    text-align: center;
    img {
        text-align: center;
    }
    margin: 0 auto;
}